<div class="aside-inner">
    <nz-dropdown nzTrigger="click" class="user-block clearfix">
        <div nz-dropdown class="user-block-dropdown">
            <nz-avatar class="avatar" [nzIcon]="'user'" [nzSize]="'large'"></nz-avatar>
            <strong>{{settings.user.name}}</strong>
            <br />
            <div class="info">
                <p class="text-truncate" nz-tooltip="{{appSession.getShownLoginName()}}">{{appSession.getShownLoginName()}}</p>
                <p class="text-truncate" nz-tooltip="{{settings.user.emailAddress}}" >{{settings.user.emailAddress}}</p>
            </div>
        </div>
        <ul nz-menu>
            <li nz-menu-item (click)="msgSrv.success('profile')">个人资料</li>
            <li nz-menu-item (click)="msgSrv.success('settings')">设置</li>
            <li nz-menu-item (click)="msgSrv.success('logout')">登出</li>
        </ul>
    </nz-dropdown>
    <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
